.main-parallax{
    position: relative;
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 100/51.4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-parallax-layer{
    position: absolute;
    width: 140vw;
    /* min-height: 140vh; */
    margin-top: 100vh;
    transition: margin-top 1000ms, transform 3000ms cubic-bezier(0, 0.8, 0.2, 1);
}

.main-parallax-back{
    margin-top: 10vh;
}

.main-parallax-gradient{
    position: absolute;
    background: linear-gradient(180deg, rgba(255,255,255,0) 90%, rgb(30, 29, 29) 100%);
    width: 100%;
    height: 100%;
}