/* :root{
    --variable:1;
} */


.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: rgb(255 255 255 / 0%);
    backdrop-filter: blur(10px);
}

.navbar-logo {
    width: 100px;
    height: 60px;
    background: white;
}

.navbar-links {
    display: flex;
    gap: 14px;
    flex-direction: row;
}

.navbar-link {
    font-family: "Varela Round", sans-serif;
    color: aliceblue;
    font-size: 19px;
    transition: 200ms;
    margin: auto;
    text-decoration: none;
}

.main-parallax {
    position: relative;
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 100/51.4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-parallax-layer {
    position: absolute;
    width: 140vw;
    /* min-height: 140vh; */
    margin-top: 100vh;
    transition: margin-top 1000ms, transform 3000ms cubic-bezier(0, 0.8, 0.2, 1);
}

.main-parallax-text {
    width: auto;
    top: 64%;
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 12vw;
    text-shadow: 0 0 8px rgb(163 145 145);
}

.main-parallax-back {
    margin-top: 10vh;
}

.main-parallax-gradient {
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, var(--background) 100%);
    width: 100%;
    height: 100%;
}




.about-me {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
    box-sizing: border-box;
}

.about-me-box {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
}

.about-me-text {
    display: flex;
    gap: 30px;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    flex-direction: column;
}

.about-me-header {font-size: 56px;font-weight: 600;transition: all 400ms;}
.about-me-description {font-size: 23px;transition: all 700ms;}

.about-me-header, .about-me-description{
    opacity: 0;
    transform: translateY(50%);
}

.show {
    opacity: 1;     
    transform: translateY(0%);
}

.about-me-image-box {
    position: relative;
    display: flex;
    width: 22vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1/1.05;
    transition: 0.8s;
    box-shadow: 0px 0px 200px 3px #ed5b5b3d;
}

.about-me-image {
    width: 22vw;
    border-radius: 50%;
    aspect-ratio: 1/1.05;
    z-index: 2;
}

@keyframes spinning {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.projects{
    position: relative;
    width: 100%;
    height: 100vh;
}

.projects-block{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 60px 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    transform-style: preserve-3d;
}

.projects-card{
    position: absolute;
    width: 40vw;
    aspect-ratio: 1/0.6;
    background: #0c0b0e;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    transition: transform 500ms;
    transform: perspective(600px) translateX(-100vw) translateY(0%) translateZ(0px);
}

.projects-card[data-position="0"]{
    pointer-events: all;
    transform: perspective(600px) translateX(0%) translateY(0%) translateZ(0px);
    opacity: 1;
}

.projects-card[data-position="1"]{
    transform: perspective(600px) translateX(-10%) translateY(-10%) translateZ(-10px);
    opacity: 0.8;
    transition-delay: 100ms;
}

.projects-card[data-position="2"]{
    transform: perspective(600px) translateX(-20%) translateY(-20%) translateZ(-20px);
    opacity: 0.6;
    transition-delay: 200ms;
}

.projects-card[data-position="3"]{
    transform: perspective(600px) translateX(-30%) translateY(-30%) translateZ(-30px);
    opacity: 0.4;
    transition-delay: 300ms;
}

.projects-card-image{
    width: 100%;
    height: 100%;
    background: url(/images/projects/cybersoft.png) center/cover;
}

.projects-card:hover .projects-card-content{
    opacity: 1;
}

.projects-card-content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c0b0ec2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 400ms;
}

.projects-card-header{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
}

.projects-card-types{
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

.projects-card-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.projects-card-type{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}

.projects-card-links{
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}

.projects-card-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #0c0b0e8a;
    right: -35px;
    transition: all 200ms;
}

.projects-card-right:hover{
    width: 120px;
    height: 120px;
    font-size: 50px;
    background: #0c0b0ec1;
    box-shadow: 0px 0px 0px 10px #0c0b0e81,
    0px 0px 0px 20px #0c0b0e2b;
}

.projects-card-hovered:nth-child(1){
    transform: perspective(600px) rotateZ(10deg) translateY(-10%) translateX(0%) translateZ(0px);
}

.projects-card-clicked{
    animation: goingback forwards 800ms ease;
}

@keyframes goingback {
    0%{
        transform: perspective(600px) rotateZ(10deg) translateY(-10%);
    }
    50%{
        transform: perspective(600px) rotateZ(40deg) translateY(-120%) translateZ(-10px) translateX(30%);
    }
    100%{
        transform: perspective(600px) rotateZ(0deg) translateY(-30%) translateZ(-100px) translateX(-30%);
    }
}

