/* :root{
    --variable:1;
} */


.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: rgb(255 255 255 / 0%);
    backdrop-filter: blur(4px);
    align-items: center;

}

.navbar-logo {
    width: 100px;
    height: 60px;
    background: white;
}

.navbar-links {
    display: flex;
    gap: 24px;
    flex-direction: row;
}

.navbar-link-box{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    gap: 4px;
}

.navbar-link-line{
    width: 100%;
    height: 2px;
    transform: translateX(-31vw);
    display: flex;
    justify-content: center;
}

.navbar-link-line-in{
    background: white;
    width: 100%;
    height: 100%;
    /* animation: lineinanim 3s cubic-bezier(.45,.2,.8,.55); */
}

.navbar-link {
    font-family: "Varela Round", sans-serif;
    color: aliceblue;
    font-size: 19px;
    transition: 200ms;
    margin: auto;
    text-decoration: none;
}

.main-parallax {
    position: relative;
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 100/51.4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-parallax-layer {
    position: absolute;
    width: 140vw;
    /* min-height: 140vh; */
    margin-top: 100vh;
    transition: margin-top 1000ms, transform 3000ms cubic-bezier(0, 0.8, 0.2, 1);
}

.main-parallax-text {
    width: auto;
    top: 64%;
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 12vw;
    text-shadow: 0 0 8px rgb(163 145 145);
}

.main-parallax-back {
    margin-top: 10vh;
}

.main-parallax-ground{
    height: 20vw;
    top: 100%;
    background: #131117;
}

.main-parallax-gradient-2{
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, var(--background) 100%);
    width: 140vw;
    aspect-ratio: 16/9;
}

.main-parallax-gradient{
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 90%, var(--background) 100%);
    width: 100%;
    height: 100%;
}

.last-layer{
    border-top: 1000px solid transparent;
    border-bottom: 1000px solid #131117;
}





.after-parallax{
    position: relative;
    width: 100%;
    background: var(--background);
}

.about-me {
    position: relative;
    width: 100vw;
    max-height: 100vh;
    aspect-ratio: 16/6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 200px 100px 200px;
    box-sizing: border-box;
}

.about-me-box {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.about-me-text {
    display: flex;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    flex-direction: column;
}

.about-me-header-box{
    width: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.about-me-header {font-size: 56px;font-weight: 600;transition: all 400ms;}
.about-me-types {font-size: 19px;transition: all 700ms;padding: 16px 0px; display: flex; gap: 10px; align-items: center;}
.about-me-description {font-size: 23px;transition: all 700ms;}
.about-me-tools{padding: 20px 0px 0px 0px; display: flex; align-items: center;}
.about-me-tools-text {font-size: 19px;transition: all 700ms;}

.about-me-tools-rotator{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    overflow: hidden;
    height: 50px;
    gap: 20px;
    margin: 0px 30px;
}

.about-me-tools-rotator-shadow{
    position: absolute;
    width: 20px;
    height: 100%;
}

.about-me-tools-rotator-shadow:nth-child(2n-1){left: 0px; background: linear-gradient(90deg, var(--background) 0%,rgba(255,255,255,0) 99%);}
.about-me-tools-rotator-shadow:nth-child(2n){right: 0px; background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--background) 99%);}

.about-me-tools-rotator-part{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
    color: white;
    animation: sliding 5s infinite linear;
    transform: translateX(-110%);
}

.about-me-tools-rotator-part:nth-child(2){
    animation-delay: 2.5s;
}

.about-me-tools-rotator-part i{
    font-size: 50px;
    color: white;
}

@keyframes sliding {
    0%{
        transform: translateX(-110%);
    }
    100%{
        transform: translateX(110%);
    }
}

.about-me-line{
    width: 100%;
    height: 5px;
    transform: translateX(-31vw);
    display: flex;
    justify-content: center;
}

.about-me-line-in{
    background: white;
    width: 100%;
    height: 100%;
    animation: lineinanim 3s cubic-bezier(.45,.2,.8,.55);
}

@keyframes lineinanim {
    50%{
        width: 10%;
    }
    100%{
        width: 100%;
    }
}

.about-me-point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: aliceblue;
    transform: all 500ms;
}

.about-me-header, .about-me-description, .about-me-part, .about-me-point{
    opacity: 0;
}

.text-span{
    position: relative;
    opacity: 0;
    transition: opacity 500ms;
}

.about-me-part .text-span{
    transition: opacity 200ms;
}

.about-me-image {
    position: relative;
    width: 22vw;
    border-radius: 50%;
    aspect-ratio: 1/1.05;
    box-shadow: 0px 0px 200px 3px #ed5b5b3d;
}

@keyframes spinning {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.projects{
    position: relative;
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 16/9;
}

.projects-block{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 60px 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    transform-style: preserve-3d;
}

.projects-card{
    position: absolute;
    width: 40vw;
    aspect-ratio: 1/0.6;
    background: #131117;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    transition: transform 400ms, opacity 200ms, filter 500ms;
    transform: perspective(600px) translateX(-100vw) translateY(0%) translateZ(0px);
    box-shadow: 6px 6px 14px 2px rgba(24, 17, 34, 0.628);
}

.projects-card[data-position="0"]{
    transform: perspective(600px) translateX(0%) translateY(0%) translateZ(0px);
    opacity: 1;
    filter: grayscale(0);
}

.projects-card[data-position="1"]{
    transform: perspective(600px) translateX(-10%) translateY(-10%) translateZ(-10px);
    opacity: 0.8;
    transition-delay: 120ms;
    filter: grayscale(0.8) blur(0.6px);
}

.projects-card[data-position="2"]{
    transform: perspective(600px) translateX(-20%) translateY(-20%) translateZ(-20px);
    opacity: 0.6;
    filter: grayscale(0.9) blur(0.8px);
    transition-delay: 240ms;
}

.projects-card[data-position="3"]{
    transform: perspective(600px) translateX(-30%) translateY(-30%) translateZ(-30px);
    opacity: 0.4;
    transition-delay: 360ms;
    filter: grayscale(1) blur(1px);
}

.projects-card-image{
    width: 100%;
    height: 100%;
    background: url(/images/projects/cybersoft.png) center/cover;
}

.projects-card:hover .projects-card-content{
    opacity: 1;
}

.projects-card-content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c0b0ec2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 400ms;
}

.projects-card-header{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
}

.projects-card-types{
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

.projects-card-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.projects-card-type{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}

.projects-card-links{
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}

.projects-card-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #0c0b0e8a;
    right: -35px;
    transition: all 200ms;
}

.projects-card-right:hover{
    width: 120px;
    height: 120px;
    font-size: 50px;
    background: #0c0b0ec1;
    box-shadow: 0px 0px 0px 10px #0c0b0e81,
    0px 0px 0px 20px #0c0b0e2b;
}

.projects-card-hovered[data-position="0"]{
    transform: perspective(600px) rotateZ(10deg) translateY(-10%) translateX(0%) translateZ(0px);
}

.projects-card-clicked[data-position="3"]{
    animation: goingback forwards 900ms ease;
}

@keyframes goingback {
    0%{
        transform: perspective(600px) rotateZ(10deg) translateY(-10%);
    }
    50%{
        transform: perspective(600px) rotateZ(50deg) translateY(-150%) translateZ(-10px) translateX(30%);
    }
    100%{
        transform: perspective(600px) rotateZ(0deg) translateY(-30%) translateZ(-30px) translateX(-30%);
    }
}





.footer{
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top{
    width: 100%;
    height: 20vh;
    background: var(--footer);
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
}