@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


.paralax{
    position: relative;
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 1/1;

}

.paralax-header{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
    z-index: 5;
}

.paralax-logo{
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paralax-logo-text{
    display: flex;
    flex-direction: row;
    font-family: 'Protest Riot', sans-serif;
    color: aliceblue;
    font-size: 38px; 
}

.paralax-logo-daisy{
    position: absolute;
    width:  73px;
    aspect-ratio: 1/1;
    background: url(/images/paralax/daisy.png) center/cover;
    margin-left: -1px;
}

.paralax-logo-text span{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
    font-family: 'Protest Riot', sans-serif;
    color: aliceblue;
}

.paralax-menu{
    display: flex;
    gap: 25px;
    flex-direction: row;
}

.paralax-menu-item{
    font-family: 'Protest Riot', sans-serif;
    color: aliceblue;
    font-size: 22px;
    transition: 200ms;
}

.paralax-menu-item:hover{
    color: rgb(255, 243, 150);
}

.paralax-parts{
    position: absolute;
    width: 4056px;
    transition: 3000ms cubic-bezier(0, 0.8, 0.2, 1);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.paralax-layer8{
    width: 3407px;
    left: 42.5%;
    top: 71%;
}

.paralax-layer6{
    width: 2898px;
    left: 63.1%;
    top: 68%;
}

.paralax-layer5{
    width: 1410px;
    left: 20%;
    top: 58.8%;
}

.paralax-layer4{
    width: 2221px;
    left: 60.8%;
    top: 86.6%;
}

.paralax-layer3{
    width: 1146px;
    left: 82.8%;
    top: 71.2%;
}

.paralax-layer2{
    width: 2132px;
    left: 28%;
    top: 76%;
}

.paralax-main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-height: 56,25vw;
    overflow: hidden;
}