:root{
    --background:black;
    --big-card-1:white;
    --big-card-2:red;
    --big-card-3:blue;
    --big-card-4:green;
    --small-card-1:orange;
    --small-card-2:pink;
    --small-card-3:purple;
    --small-card-4:yellow;
    --button:brown;
    --button-focused:rgb(58, 16, 16);
    --text:white;
    --text-grey:rgb(192, 192, 192);
}

body{
    margin: 0px;
    padding: 0px;
}

.the-animations{
    width: 100%;
    background: var(--background);
}

.header{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--text);
    padding: 30px;
    text-align: center;
}

.four-cards-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--background);
    flex-direction: column;
}

.four-cards{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.2s ease;
}

.card{
    position: absolute;
    border-radius: 25px;
    transition: 1s all cubic-bezier(.32,.61,.15,1);
    /* opacity: 0.9; */
}

.big-card{
    width: 250px;
    height: 350px;
}

.small-card{
    width: 100px;
    height: 140px;
    transition: 0.8s all cubic-bezier(.32,.61,.15,1);
}

.four-cards:hover > .card:nth-child(1){
    transform: translate(-70%, 35px) rotate(-10deg);
}
.four-cards:hover > .card:nth-child(3){
    transform: translate(-35%, 8px) rotate(4deg);
}
.four-cards:hover > .card:nth-child(5){
    transform: translate(10%) rotate(-5deg);
}
.four-cards:hover > .card:nth-child(8){
    transform: translate(50%, 40px) rotate(17deg);
}
.card:nth-child(1){background: var(--big-card-1);}
.card:nth-child(3){background: var(--big-card-2);}
.card:nth-child(5){background: var(--big-card-3);}
.card:nth-child(8){background: var(--big-card-4);}

.four-cards:hover > .card:nth-child(2){
    transform: translate(-300%, -85%) rotate(15deg);
}
.four-cards:hover > .card:nth-child(4){
    transform: translate(-190%, 130%) rotate(-21deg);
}
.four-cards:hover > .card:nth-child(6){
    transform: translate(140%, -130%) rotate(-20deg);
}
.four-cards:hover > .card:nth-child(7){
    transform: translate(240%, 120%) rotate(35deg);
}

.card:nth-child(2){background: var(--small-card-1);}
.card:nth-child(4){background: var(--small-card-2);}
.card:nth-child(6){background: var(--small-card-3);}
.card:nth-child(7){background: var(--small-card-4);}

.buttons{
    position: absolute;
    margin-top: 460px;
    display: flex;
    gap: 16px;
}

button{
    font-weight: 600;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 2px;
    transition: all 0.5s ease;
}

.button:nth-child(1){
    transform: rotate(180deg);
}

.four-cards[data-status="pre-before"]{
    transform: translate(500px);
    opacity: 0;
    scale: 0;
    transition: none;
}

.four-cards[data-status="before"]{
    transform: translate(500px);
    opacity: 0;
    scale: 0;
}

.four-cards[data-status="pre-after"]{
    transform: translate(-500px);
    opacity: 0;
    scale: 0;
    transition: none;
}

.four-cards[data-status="after"]{
    transform: translate(-500px);
    opacity: 0;
    scale: 0;
}

.four-cards[data-status="active"]{
    transform: translate(0px);
    opacity: 1;
    scale: 1;
}

button:hover{
    color: var(--button);
}

button:focus{
    color: var(--button-focused);
}

.texts-kyber-animations{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--background);
    flex-direction: column;
    gap: 50px;
}

.text-letter-changing{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    font-weight: 600;
}

.texts-kyber-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-with-hover-effect{
    width: 300px;
    color: var(--text);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.texts-opacity-transition{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--background);
    flex-direction: column;
    gap: 50px;
}

.texts-opacity{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px;
    gap: 20px;
}

.text-opacity-transition{
    color: var(--text-grey);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 180%;
    overflow: hidden;
    width: fit-content;
}

.text-opacity-transition:nth-child(2){
    width: 700px;
    font-size: 16px;
}
.text-opacity-transition:nth-child(2) span{
    width: 360px;
}

.text-opacity-span{
    opacity: 0;
}

.text-opacity-span-back{
    background: rgba(255,255,255,0.15);
    width: 94px;
    height: 47px;
    position: absolute;
    border-radius: 40%;
    filter: blur(20px);
    opacity: 0;
    transform: translateY(-25%) translateX(-100%);
}

.special-slider-anymation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--background);
    flex-direction: column;
    overflow: hidden;
}

.special-slider-overflow{
    width: 100%;
    transform: rotate(8deg);
}

.special-slider-full{
    display: flex;
    flex-direction: row;
    width: max-content;

}

.special-slider-card{
    width: 400px;
    height: 350px;
    margin: 0px 40px;
    background: rgb(203, 203, 203);
    object-fit: cover;
    object-position: 100% center;
    transform: perspective(650px) rotateX(0deg) rotateY(21deg) rotateZ(0deg);
}


.perspective-simulator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--background);
    flex-direction: column;
    overflow: hidden;
    gap: 50px;
}

.perspective-card{
    width: 440px;
    height: 360px;
    background: rgb(203, 203, 203);
}

.perspective-sliders{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}

.perspective-sliders div {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 16px;
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
}
  