:root{
    --background:black;
    --big-card-1:white;
    --big-card-2:red;
    --big-card-3:blue;
    --big-card-4:green;
    --small-card-1:orange;
    --small-card-2:pink;
    --small-card-3:purple;
    --small-card-4:yellow;
    --button:brown;
    --button-focused:rgb(58, 16, 16);
    --text:white;
    --text-grey:rgb(192, 192, 192);
}

body{
    margin: 0px;
    padding: 0px;
}

.the-animations{
    width: 100%;
    background: var(--background);
}

.header{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--text);
    padding: 30px;
    text-align: center;
}