body{
    margin: 0px;
    padding: 0px;
}

.the-animations{
    display: flex;
    background: black;
}

.four-cards-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: black;
}

.card{
    position: absolute;
    width: 200px;
    height: 200px;
    background: gray;
    opacity: 0.4;
}

.four-cards{
    width: 200px;
    height: 200px;
    position: relative;
}

.big-card:nth-child(n){
    transform: scale(2);
}